/*--------------------------------------------
color
---------------------------------------------*/
$color-1: #ca8a04;

/*--------------------------------------------
breakpoints
---------------------------------------------*/
$breakpoints: (
  "sm": "screen and (min-width: 400px)",
  "md": "screen and (min-width: 667px)",
  "lg": "screen and (min-width: 999px)",
  "xl": "screen and (min-width: 1200px)",
) !default;

/*--------------------------------------------
size
---------------------------------------------*/
$container: 1080px;
